<% provide(:title, 'CONTACT') %>

<div class="pages contact">
	<h1>Contact</h1>

	<p>We will respond to all emails within 24 hours, often within one hour. For all enquiries please contact:</p>

	<p><%= link_to 'luke@lukemacauley.com', 'mailto:luke@lukemacauley.com?subject=Client Services' %></p>
</div>