<div class="pages">
	<h1>Delivery</h1>
	<p>We deliver Monday to Friday excluding public holidays.</p>

	<h2>US Shipping Costs</h2>

	<p>Deliveries Monday – Friday, excluding public holidays</p>
	
	<p>Two day – order before 22AM EST – $22</p>
	
	<h2>UK Shipping Costs</h2>
	
	<p>Next day – order before 4pm GMT — Free</p>
	
	<h2>Europe Shipping Costs</h2>
	
	<p>Two day – order before 4pm GMT – €8</p>
	
	<p>
	We ship to the following European countries: Austria, Belgium, Bulgaria, Cyprus, Czech Republic, Denmark, Estonia, Finland, France,
	Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg,
	Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia,
	Spain, Sweden, Holland, Norway, Switzerland.
	</p>
	<p>
	Please note the next day service applies to all major European cities,
	with outlying areas taking an additional day. Deliveries to Norway and
	Switzerland may be subject to customs delays outside of our control.
	</p>
	<h2>Shipping</h2>
	<p>
	When placing your order please ensure that the billing and shipping
	address details are correct, as we are unable to redirect.
	</p>
	<p>When your order is shipped, we will send you a confirmatory email.</p>
	<p>
	A signature will be required upon delivery of your order. Please be
	aware that our service is not a named delivery service and anyone at
	the designated delivery address may sign for your delivery. We will not
	be liable for a lost or missing order that has been signed for in a
	building, for example an office address that has been provided for delivery.
	</p>
	<p>
	Delivery times are estimates and start from the date of dispatch.
	Please note that in some areas of the United Kingdom and Europe there
	is a limited range of delivery services available. We will endeavor to
	send your order out as quickly as possible but we cannot be responsible
	for delays as a result of remote delivery locations or adverse weather
	conditions.
	</p>
	<p>
	If you have any questions regarding shipping in the United Kingdom,
	Europe or USA, please contact us at <%= link_to 'luke@lukemacauley.com', 'mailto:luke@lukemacauley.com?subject=Shipping Query' %>.
	</p>
</div>