<div class="pages">
<h1>Legal</h1>
<p>www.lukemacauley.com (the "Website") is operated by LUKE MACAULEY LTD
("we", "us" and "our"). This is a limited company registered in England
with company number 08335565, and VAT number GB 152 8857 80. Our registered
office is 8 Dunellan Road, Glasgow, G62 7RE, UK.</p>
<p>
These terms cover the website and related services in the USA, United
Kingdom and Europe only. Delivery services are shipped via UPS.
</p>
<h2>Orders</h2>
<p>
We currently do not ship outside the United Kingdom, Europe, and the United
States of America.
</p>
<p>
You can contact our client services team on clientservices@lukemacauley.com.
</p>
<p>
If you are shopping in the US please refer to the US terms and conditions
which apply to your purchase and your use of the website.
</p>
<h2>Use of Website</h2>
<p>
The Website and related services (including any applications which allow
you to buy our products from us on mobile devices) (the "Services") are
made available to you in accordance with the following Terms of Use, and
any other rules posted on our websites ("Terms"). Please read the Terms
carefully before placing any orders, we recommend you should keep a copy
of the Terms for future reference.
</p>
<p>
We may modify the Terms from time to time at our sole discretion. Please
read the Terms and check back often. If you do not agree to any change to
the Terms then you must immediately stop using the Services.
</p>
<p>
Please note that these Terms do not affect your statutory rights as a
Consumer. For more information about your rights contact your local
Citizens Advice Bureau or Trading Standards Bureau.
</p>
<p>
You agree that the information that you provide when you register is true,
accurate, current, and complete in all respects. Should any of your
registration information change, please notify us immediately. We may also
change registration requirements from time to time.
</p>
<p>
We may change, withdraw, or suspend access to the Services (in whole or in
part and permanently or temporarily) with or without notice and with no
liability to you.
</p>
<p>
The Services may include links to other websites or resources. We have no
control over the content of these websites and are not liable in any way
for their content.
</p>
<p>
Any material that you upload to the Website or which you send to us via any
other medium (including all social media) will be considered
non-confidential, non-proprietary and we will have the right to use, copy,
distribute and disclose to third parties such material for any purpose.
We also have the right to disclose your identity to any third party who
claims that such material infringes their intellectual property rights or
their right to privacy.
</p>
<p>
We will not be responsible or liable to you or any third party for the
content or accuracy of any materials posted by you or any other user of the
Services and you agree to be responsible to us for and indemnity us and
keep us indemnified against all costs, damages, expenses, losses and
liabilities incurred and/or suffered by us as a result of any claim in
respect of your use of the Services.
</p>
<p>
We have the right to remove any material or posting you make on the Website
at our sole discretion.
</p>
<h2>Purchase of Products</h2>
<p>
When purchasing a product using the Services you are making a contract with
LUKE MACAULEY LTD.
</p>
<h2>Orders</h2>
<p>
You agree that your order is an offer to purchase the product(s) listed in
your order to us on the Terms. You agree that an order is engaging in a
contract with Victoria Beckham Limited. All orders are subject to our
acceptance and availability. Items that are placed in your shopping basket
are not reserved and may be purchased by other customers. We will inform
you if we are unable to fulfill your order. We may choose not to accept
your order in our discretion for any reason without liability to you.
Examples of occasions we may not accept your order are: that we are unable
to obtain authorisation for payment; shipping restrictions apply to a
particular item; the item ordered is out of stock; the item ordered does
not satisfy our quality control standards and is withdrawn; or that you do
not meet the eligibility criteria set out within the Terms.
</p>
<p>
We are under a legal duty to supply goods that conform with their
description on the website.
</p>
<p>
Please note that we may refuse to process an order that is a multiple of a
single product, for example an order for three of the same dress, in the
same colour.
</p>
<p>
We may also refuse to process and therefore accept a transaction for any
reason to anyone at any time at our sole discretion. This includes refusing
to process a transaction or unwinding or suspending any transaction after
processing has begun.
</p>
<p>
After submitting an order to us, we will send you an order acknowledgment
email. This email will include your order number, details of the items you
have ordered from us and delivery details. Please note that this email is
an acknowledgement of your order and is not an acceptance of your order.
</p>
<p>
Acceptance of your order and formation of a contract of sale takes place
when your order has been dispatched and we have sent you an email
confirming this.
</p>
<p>
When placing an order for the first time, you may be required to or may be
offered the option to register with us and complete certain required
fields on an order form. Where we ask you to provide and use identifiers
and passwords to access restricted parts of the Website, it is on condition
that you shall be responsible for ensuring that such identifiers and
passwords are kept secure and confidential at all times. You shall comply
with all security directions and/or recommendations given by us and inform
us immediately if you become aware or suspect any unauthorised use of your
account.
</p>
<p>
Order status may take up to 1 hour to update after the order has been placed.
</p>
<p>
Payment will be debited from your card when your order is dispatched.
</p>
<p>
You can pre-order new season items on victoriabeckham.com and make payment
in advance. When you pre-order an item, payment will be taken and your order
will be held until we have received the stock. In the product page of
pre-order items you will find information regarding expected shipping dates.
If your order includes both in-stock and pre-order items, or you purchase
more than one pre-order item with different expected shipping dates, items
will be dispatched on arrival at the warehouse, however you will incur a
single shipping charge. When an item is dispatched, you will receive a
shipping confirmation email so that you may track the delivery.
</p>
<p>
We will store a record of your transactions for a minimum of one year.
</p>
<h2>Prices</h2>
<p>
Prices shown on the Website are in Pounds, Dollars or Euros and are
inclusive of VAT. Prices do not include delivery costs.
</p>
<p>
All prices and offers remain valid as advertised from time to time. The
Pounds, Dollar or Euros price of a product displayed on the Website at the
time the order is accepted will be honoured, except in cases of obvious error.
</p>
<p>
Product prices are set at the beginning of each season using existing
currency exchange rates. These prices are subject to change if the
applicable currency exchange rate changes before your order is accepted
or the items are subject to markdowns at any time during the selling period.
</p>
<p>
If you are a customer whose credit/debit card is not denominated in Pounds,
Dollars or Euros, the final price will be calculated in accordance with the
applicable exchange rate on the day your card issuer processes the
transaction. All orders are placed with LUKE MACAULEY LTD, which is a UK
entity. Your card issuer or payment method provider may therefore apply
other international bank charges. We have no control and cannot predict the
amount of these charges. Please contact your issuing bank before placing
your order if this applies to you.
</p>
<h2>Payment</h2>
<p>
Payment can be made by Visa, Visa Electron, Visa Debit, Visa Delta,
MasterCard, American Express, and any other methods which may be clearly
advertised on the Website from time to time. Payment will be debited and
cleared from your account upon shipment of your order.
</p>
<p>
You confirm that the credit/debit card that is being used is yours or that
you have been specifically authorised by the owner of the credit/debit card
to use it. All credit/debit card holders are subject to validation checks
and authorisation by the card issuer. If the issuer of your payment card
refuses to authorise payment to us, we will not be liable for any delay or
non-delivery.
</p>
<p>
To help ensure that your shopping experience is safe and secure, we use
state of the art security systems to encrypt your payment details, making
it virtually impossible for the to be read over the internet.
</p>
<p>
You can save Credit Card details in your account and use them to complete
future orders. For your security, you will always be asked to enter your
CVV code at checkout. We receive authorization to charge your account once
the order is placed and the pending transaction will be settled upon
dispatch. For security and fraud prevention, all orders made with a credit
or debit card are subject to authorization and our fraud team may ask for
further details before an order is processed.
</p>
<p>
We have the right to cancel your purchase without prior notification.
Examples of occasions we may choose to cancel your purchase are: your card
details have been flagged by our fraud screening processes or are declined
by our fraud screening processed.
</p>
<p>
Furthermore, we take reasonable care, in so far as it is in our power to do
so, to keep the details of your order and payment secure, but in the
absence of negligence on our part we cannot be held liable for any loss you
may suffer if a third party procures unauthorised access to any data you
provide when accessing or ordering from the website.
</p>
<h2>Insurance and Delivery</h2>
<p>Our delivery services are shipped via UPS.</p>
<p>
Ownership of any products ordered by you from us shall pass to you on the
date and time of delivery to your nominated address.
</p>
<p>
We insure each purchase during the time it is in transit until it is
delivered to your specified delivery address. A signature is required
for any goods delivered, at which point responsibility for your purchased
goods passes to you. If you have specified a recipient who is not you for
delivery purposes (for example as a gift) then you accept that evidence of
a signature by them (or at that delivery address) is evidence of delivery
and fulfillment by us, and transfer of responsibility in the same way.
</p>
<p>
We shall be entitled to supply your purchases in instalments and each
instalment shall be deemed to constitute a separate contract with us, and
we shall be entitled to supply only part of an order.
</p>
</div>