<% provide(:title, 'RETURNS') %>

<div class="pages">
	<h1>Returns</h1>
	<p>
	When you place an order with us on lukemacauley.com, you are welcome to
	return any item(s) using our free returns service, provided you return them
	within 14 days of delivery.
	</p>
	<p>
	Items should be returned unused. Our boxes are considered to be a part of
	the product and must be returned with the item(s). This is also to ensure
	that item(s) arrives back to us in a suitable and undamaged state. Returns
	that are damaged or soiled may not be accepted and may be sent back to you
	and/or a refund refused.
	</p>
	<p>
	Item(s) must be returned from the original shipping country with the
	original returns form. Please note that we may not refund item(s) that are
	sent without any returns paperwork.
	</p>
	<p>
	For assistance please contact us at luke@lukemacauley.com.
	</p>
	<h2>To Return Your Order</h2>
	<p>Attach the returns label provided to the outside of the box.</p>
	<p>Email luke@lukemacauley.com to arrange for free pick up by UPS.</p>
	<p>
	You may return your items to us using your own shipper. If you do, please
	inform us within 14 days of delivery. We recommend that you insure the return
	shipment as you are under a duty to take reasonable care of the items and will
	be liable for damage to them until we receive them at our warehouse. In case
	of dispute, we also recommend you retain proof of sending. We cannot be
	responsible for any loss for any item(s) you have chosen to send
	</p>
	<p>
	LUKE MACAULEY LTD
	<br>
	8 Dunellan Road
	<br>
	Glasgow
	<br>
	G62 7RE
	<br>
	UK
	</p>
	<h2>Refunds</h2>
	<p>
	Refunds will be credited to your original method of payment. Original
	shipping charges will not be refunded. If your return was purchased in a
	currency other than your local currency, refunds will be paid in the same
	currency. Due to fluctuations in currency rates the amount refunded may be
	slightly higher or lower than the price originally paid. On receipt of return,
	we shall process the refund as soon as possible.
	</p>
	<h2>Faulty Items</h2>
	<p>Items are faulty if they are received damaged. Items that are damaged as a
	result of normal wear and tear are not considered to be faulty. Where possible,
	we will offer to repair faulty items. When items deemed faulty cannot be repaired
	or the same item is not available, a full refund will be offered.</p>
	<h2>Cancelling Your Order</h2>
	<p>
	If you are based in the EU, you have the right to cancel your contract
	with us under the Consumer Contracts (Information, Cancellation and Additional
	Charges) Regulations 2013 , but need to notify us of your decision to do so
	within 14 days from the day after the day on which you receive the last item
	in your order.
	</p>
	<p>To exercise the right to cancel, please email luke@lukemacauley.com.</p>
	<p>
	On receipt of your notice of contract cancellation, client services will
	contact you with return instructions.
	</p>
	<p>
	We recommend that you insure the return shipment as you are under a duty to
	take reasonable care of the goods and will be liable for damage to them until
	we receive them at our warehouse. We also recommend that you use a secure,
	trackable means to return your order to us at LUKE MACAULEY LTD, 8 Dunellan
	Road, Glasgow, G62 7RE, UK and you retain proof of sending, in case of a dispute.
	</p>
	<p>
	Please note that you must cover the cost of the return shipment, as our free
	collection service does not apply to orders cancelled under the ICACRs.
	</p>
	<p>
	All items must be returned unused, in their original condition and from the
	country that the order was delivered to.
	</p>
	<p>
	We will refund the full value of your order, including standard shipping costs,
	within 14 days of receiving your notice of contract cancellation. If we do not
	receive the cancelled order, we will arrange to have it collected from you
	at your cost.
	</p>
	<p>
	For assistance please contact us at luke@lukemacauley.com
	</p>
</div>