<% provide(:title, 'SHOP') %>

<div id="shop">
	<h1>Shop</h1>
	<%= link_to image_tag("shop1.jpg", class: "cardcase-shop"), cardcase_path %>
	<%= link_to image_tag("shop2.jpg", class: "wallet-shop"), wallet_path %>
</div>