// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	// width: 100%;
	height: 100%;
	background-color: #fff;
	color: #000;
	font-family: "proxima-nova",serif;
	font-style: normal;
	font-weight: 400;
	font-size: 10px; // 1.4em = 14px;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

ul {
	list-style-type: none;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

a {
	text-decoration: none;
	color: #000;
}

h1 {
	font-size: 11px;
	font-weight: 700;
}

h2 {
	font-size: 10px;
	font-weight: 700;
}

header {
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	z-index: 10;
	margin-bottom: 0;
	font-size: 11px;
	ul.center {
		text-align: center;
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		.logo {
			height: 22px;
		}
	}
	ul.right {
		position: absolute;
		top: 10px;
		right: 0;
		margin-right: 30px;
	}
	ul.menu {
		display: none;
	}
}

#sidebar {
	position: absolute;
	height: 100%;
	top: 150px;
	left: 30px;
	width: 170px;
	z-index: 10;
	font-size: 11px;
	ul.shop-menu-1 {
		li {
			margin-bottom: 20px;
			a {}
		}
		ul.shop-menu-2 {
			// display: none;
			li {
				margin-bottom: 0;
				a {
					color: #a09f9f;
				}
				&:first-child {
					margin-top: 10px;
				}
				&:last-child {
					margin-bottom: 30px;
				}
			}
		}
		ul.shop-menu-3 {
			// display: none;
			li {
				margin-bottom: 0;
				a {
					color: #a09f9f;
					font-weight: 700;
				}
				&:first-child {
					margin-top: 10px;
				}
				&:last-child {
					margin-bottom: 30px;
				}
			}
		}
	}
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -50px;
	overflow: hidden;
}

footer {
	width: 100%;
	z-index: 10;
	height: 50px;
	font-size: 11px;
	padding-top: 20px;
	bottom: 0;
	ul.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		li {
			display: inline;
			margin-left: 20px;
			margin-right: 20px;
		}
	}
}

.push {
	height: 50px;
	overflow: hidden;
}

.follow-overlay {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.9;
	display: none;
	z-index: 100;
	.exit {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 16px;
		padding: 25px 12px;
	}
	ul {
		width: 100%;
		height: 100%;
		overflow: scroll;
		li {
			text-align: center;
			padding: 6px;
			font-size: 11px;
			font-weight: 700;
			&:first-child {
				padding-top: 100px;
			}
			&:last-child {
				padding-bottom: 70px;
			}
			.mobile_nav_links {
				color: #000;
				padding: 10px;
			}
			.close {
				margin-top: 72px;
				padding: 20px;
				color: #000;
			}
		}
	}
}

#home-feed {
	width: 100%;
	margin: 0;
	padding: 0;
	img {
		vertical-align: bottom;
	}
	#feed1 {
		padding-top: 150px;
		margin-left: 200px;
		width: 75%;
		margin-right: auto;
	}
	#feed2 {
		width: 44%;
		margin-right: 2%;
		margin-left: 54%;
	}
	#feed3 {
		width: 44%;
		margin-left: 10%;
		margin-right: 45%
	}
	#feed4 {
		width: 36%;
		margin-left: 56%;
		margin-right: 8%;
		margin-top: 120px;
	}
	#feed5 {
		width: 48%;
		margin-left: 2%;
		margin-right: 50%;
		margin-top: 130px;
	}
	#feed6 {
		width: 78%;
		margin-left: 11%;
		margin-right: 11%;
		margin-top: 120px;
	}
	#feed7 {
		width: 46%;
		margin-left: 50%;
		margin-right: 4%;
		margin-top: 115px;
	}
	#feed8 {
		width: 30%;
		margin-left: 11%;
		margin-right: 59%;
		margin-top: -85px;
	}
	#feed9 {
		width: 45%;
		margin-left: 55%;
		margin-right: 0;
		margin-top: -30%;
	}
	#feed10 {
		width: 37%;
		margin-left: 18%;
		margin-right: 45%;
		margin-bottom: 350px;
	}
}

#about {
	padding-top: 150px;
	width: 52%;
	margin-left: 24%;
	margin-right: 24%;
	h1 {
		display: none;
	}
	p {
		margin: 40px 0;
	}
	h1 + p {
		margin-top: 0;
	}
}

.pages {
	padding-top: 150px;
	width: 52%;
	margin-left: 24%;
	margin-right: 24%;
	h1 {
		display: none;
	}
	p {
		margin: 15px 0;
	}
	h1 + p {
		margin-top: 0;
	}
}

#shop {
	padding-top: 150px;
	h1 {
		display: none;
	}
	.cardcase-shop {
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
	}
	.wallet-shop {
		margin-top: 15px;
		width: 30%;
		margin-left: 35%;
		margin-right: 35%;
		// margin-bottom: 50px;
	}
}

.product-container {
	padding-top: 150px;
	.product-photography {
		width: 48%;
		margin: 0 auto;
		img {
			vertical-align: middle;
			cursor: -webkit-zoom-in; 
			cursor: -moz-zoom-in;
		}
		.product-photo1 {
			width: 100%;
			margin-bottom: 6px;
		}
		.product-photo2, .product-photo3, .product-photo4 {
			width: 28%;
			float: left;
			margin-right: 1.2%;
		}
		.product-photo5 {
			width: 12.4%;
			float: left;
		}
	}
	.product-info {
		position: absolute;
		top: 150px;
		width: 20%;
		right: 3%;
		.product-title {
			margin-bottom: 15px;
		}
		.product-price {
			margin-bottom: 15px;
		}
		.product-description {
			margin-bottom: 15px;
		}
		.product-details {
			margin-bottom: 15px;
		}
		.product-dimensions {
			margin-bottom: 45px;
		}
		.add-to-cart-button button {
			font-family: "proxima-nova",sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 11px;
			width: 40%;
			outline: 0;
			background-color: #fff;
			color: #000;
			text-transform: uppercase;
			padding: 7px 0 5px 0;
			border: 2px solid #000;
			letter-spacing: 1px;
			cursor: pointer;
			float: right;
			&:hover {
				background-color: #000;
				color: #fff;
				border: 2px solid #000;
			}
		}
	}
}

.xl-product-photo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
	background-color: #fff;
	z-index: 100;
	cursor: -webkit-zoom-out; 
	cursor: -moz-zoom-out;
	img {
		width: 100%;
	}
}

.mobile_nav {
	position: fixed;
	top: 0;
	bottom: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.9;
	z-index: 200;
	display: none;
	.exit {
		position: absolute;
		top: 0px;
		right: 0px;
		height: 16px;
		padding: 25px 12px;
	}
	ul {
		width: 100%;
		height: 100%;
		overflow: scroll;
		li {
			text-align: center;
			padding: 6px;
			font-size: 11px;
			font-weight: 700;
			&:first-child {
				padding-top: 100px;
			}
			&:last-child {
				padding-bottom: 70px;
			}
			.mobile_nav_links {
				color: #000;
				padding: 10px;
			}
			.close {
				margin-top: 72px;
				padding: 20px;
				color: #000;
			}
		}
	}
}

@media (max-width: 768px) {

header {
	position: absolute;
	top: 25px;
	left: 0;
	width: 100%;
	z-index: 10;
	margin-bottom: 0;
	font-size: 11px;
	ul.center {
		width: auto;
		margin-left: auto;
		margin-right: auto;
		.logo {
			height: 16px;
		}
	}
	ul.right {
		display: none;
	}
	ul.menu {
		position: absolute;
		right: 0px;
		top: -19px;
		padding: 20px 10px;
		display: block;
		.menu-button {
			height: 16px;
		}
	}
}

#sidebar {
	display: none;
}

#home-feed {
	#feed1 {
		margin-top: -50px;
		margin-left: 12%;
		width: 76%;
		margin-right: auto;
	}
	#feed4 {
		margin-top: 40px;
	}
	#feed5 {
		margin-top: 50px;
	}
	#feed6 {
		margin-top: 40px;
	}
	#feed7 {
		margin-top: 40px;
	}
	#feed8 {
		margin-top: -25px;
	}
	#feed9 {
		margin-top: -30%;
	}
	#feed10 {
		margin-bottom: 150px;
	}
}

footer {
	width: 100%;
	z-index: 10;
	height: 50px;
	font-size: 11px;
	ul.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		li {
			display: block;
			margin: 20px 0;
			&:last-child {
				padding-bottom: 40px;
			}
		}
	}
}

#shop {
	margin-top: -50px;
	h1 {
		margin-left: 10px;
		display: block;
	}
	.cardcase-shop {
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
	.wallet-shop {
		margin-top: 10px;
		width: calc(100% - 20px);
		margin-left: 10px;
		margin-right: 10px;
	}
}

#about {
	margin-top: -50px;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	h1 {
		display: block;
	}
	p {
		margin: 0 0 15px 0;
	}
}

.pages {
	margin-top: -50px;
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	h1 {
		display: block;
	}
}

.product-container {
	padding-top: 150px;
	.product-photography {
		width: calc(100% - 20px);
		margin: 0px 10px 0;
		margin-top: 270px;
		img {
			vertical-align: middle;
			cursor: -webkit-zoom-in; 
			cursor: -moz-zoom-in;
		}
		.product-photo1 {
			width: 100%;
			margin-bottom: 10px;
		}
		.product-photo2, .product-photo3, .product-photo4 {
			width: 100%;
			float: left;
			margin-right: 0;
			margin-bottom: 10px;
		}
		.product-photo5 {
			width: 100%;
			float: left;
			margin-bottom: 45px;
		}
	}
	.product-info {
		position: absolute;
		top: 100px;
		width: calc(100% - 20px);
		margin: 0 10px;
		right: 0;
		.brand-name {
			display: none;
		}
		.product-title {
			// margin-bottom: 0px;
		}
		.product-price {
			margin-bottom: 15px;
		}
		.product-description {
			margin-bottom: 15px;
		}
		.product-details {
			margin-bottom: 15px;
		}
		.product-dimensions {
			margin-bottom: 45px;
		}
		.add-to-cart-button button {
			font-family: "proxima-nova",sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 11px;
			width: 50%;
			outline: 0;
			background-color: #fff;
			color: #000;
			text-transform: uppercase;
			border: 2px solid #000;
			letter-spacing: 1px;
			cursor: pointer;
			float: right;
			&:hover {
				background-color: #fff;
				color: #000;
				border: 2px solid #000;
			}
		}
	}
}

.xl-product-photo {
	display: none;
}

}


